<div id="map">
  <agm-map [latitude]="51.673858" [longitude]="7.815982">
  <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <agm-marker [latitude]="51.673858" [longitude]="7.815982" *ngIf="!childHikes"></agm-marker>
      <div *ngIf="childHikes">
    <div *ngFor="let trail of childHikes.trails">
      <agm-marker [latitude]="trail.latitude" [longitude]="trail.longitude"></agm-marker><!-- multiple markers -->
    </div>
  </div>

  </agm-marker-cluster>
  </agm-map>



</div>
