.jumbotron{
  margin-bottom: 0 !important;
  /*background-image: url('../assets/images/banner.png');
  background-size: cover;
  height: 14rem;
  background-repeat: no-repeat;
  background-position: center;*/
  font-family: 'Bungee Inline', cursive;
  background-color: #044c04;
}
.wrapper {
  background: #044c04 !important;
  border: 1px solid #d4bb34 !important;
}
.navbar{
  margin-bottom: 0 !important;
}
.header {
  font-size: 30px;
}

h1 {
  font-size: 120px;
  color: #d4bb34;
}
