<div class="container">
  <h1>Search Hikes:</h1>
  <form>
    <div class="form-group">
      <label for="cityFind" id="location">Location:</label>
      <input type="text" #city>
    </div>
    <button class="btn btn-default" (click)="searchByGeocode(city.value)">Get Hikes</button>
  </form>
  <br>

  <app-map [childHikes]="hikes" [childLatLng]="latLng"></app-map>

  <div *ngIf="cities">
    <div *ngFor="let city of cities.results">
      <!-- <h2>{{city.geometry.location.lat}}, {{city.geometry.location.lng}}</h2> -->
    </div>
  </div>


  <div *ngIf="hikes && !noHikes">
    <app-result [childHikes]="hikes"></app-result>
  </div>

  <div *ngIf="noHikes">
    <h3>There are no hikes in your area</h3>
  </div>
</div>
