h1 {
  color: #d4bb34;
  font-family: 'Viga', sans-serif;
}

.btn {
  background-color: #d4bb34;
  color: #044c04;
  font-family: 'Viga', sans-serif;
  
}

#location {
  color: #d4bb34;
  font-family: 'Viga', sans-serif;
}

.container {
  padding-top: 5em;
}
