<h1>Search Hikes:</h1>
  <form>
    <div class="form-group">
      <label for="hike-name">Lattitude:</label>
      <input type=text #lat>
    </div>
    <div class="form-group">
      <label for="hike-name">Longitude:</label>
      <input type=text #lon>
    </div>
    <button (click)="getHikeResults(lat.value, lon.value)">Get Hikes</button>
  </form>


<div *ngIf="hikes && !noHikes">
  <app-result [childHikes]="hikes"></app-result>
</div>
<div *ngIf="noHikes">
  <h3>There are no hikes in your area</h3>
</div>
