h1 {
  color: #d4bb34;
  font-family: 'Viga', sans-serif;
}

h2 {
  color: #d4bb34;
  font-family: 'Viga', sans-serif;
}

p {
  color: #d4bb34;
  font-family: 'Viga', sans-serif;
  font-size: 20px;
}

img {
  padding-bottom: 3em;
}
