h1 {
  color: #d4bb34;
  font-family: 'Viga', sans-serif;
}

h2 {
  color: #d4bb34;
  font-family: 'Viga', sans-serif;
}

p {
  color: #d4bb34;
  font-family: 'Viga', sans-serif;
  font-size: 20px;
}

img {
  height: 17em;
  width: 19em;
  border-radius: 1em;
}
.hike{
  margin-bottom: 3em;
}
